* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'butler'
}

.main {
	width: 960px;
	margin: auto;
	color: #777777;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

/**********************************
**********************************
**********************************
**************HEADER*************
**********************************
**********************************/
.header a{
	color: #777777;
	transition: 0.3s ease-in;
}
.header a:hover {
	color: #D28896;
	opacity: 0.6;
	cursor: pointer;
}
.réseaux {
	display: flex;
	margin: 10px;
	position: absolute;
	right: -100px;
}
.réseaux img {
	width: 20px;
	height: 20px;
	margin: 2px;
}

.topSection {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.topSection_left {
	display: flex;
	align-items: center;
}
.topSection_left img {
	width: 30px;
}
.topSection_left a, .topSection_left img, .topSection_left p {
	margin: 5px;
}
.topSection_right {
	display: flex;
}
.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 5px 0 5px;
	border-color: #777777 transparent transparent transparent;
}
.english {
	display: none;
}
.topSection_left a:hover .english {
	display: block;
}
.topSection_right p {
	margin: 10px;
}

.logo {
	margin: auto;
	width: 300px;
}
.logo img {
	width: 300px;
}
.logo p {
	text-align: center;
}
nav {
	border-bottom: 1px solid #D28896;
	color: #777777;
}
nav ul {
	display: flex;
	justify-content: space-around;
}
nav ul li {
	margin: 10px;
}
.sousMenu {
	display: none;
}


/* carousel =====>

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin-left: auto;
	margin-right: auto;
	margin-top: 40px;

}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(232, 234, 237);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
div.carousel-container{
	width: 70%;
	margin: auto;
	margin-top: 30px;
	background-color: #D28896;
	opacity: 0.5;
	display: flex;
	flex-direction: column;
}
