* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: butler;
}

.main {
	width: 960px;
	margin: auto;
	padding: 20px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

/**********************************
**********************************
**********************************
**************HEADER*************
**********************************
**********************************/


.réseaux img {
	width: 20px;
	height: 20px;
}
nav {
	border-bottom: 1px solid #D28896;
	color: #777777;
}
nav ul {
	display: flex;
	justify-content: space-around;
}
nav ul li {
	margin: 5px;
}
nav ul li a {
	color: #777777;
	transition: 0.3s ease-in;
}
nav ul li a:hover {
	color: #D28896;
	opacity: 0.6;
}

